<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />
    <application
        android:name="com.breautek.fuse.test.FuseTestApplication"
        android:label="@string/app_name"
        android:theme="@style/Theme.Fuse"
        android:networkSecurityConfig="@xml/network"
    >
        <activity
            android:name="com.breautek.fuse.test.TestFuseActivity"
            android:label="@string/app_name"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
